@charset "utf-8";
/* CSS Document */
body {
    background-color: yellow;
    color: green;
}
h1 {
    color: #289013;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    background-color: #FFF500;
    font-size: 50px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
h2 {
    color: #166610;
    background-color: #FFD600;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
h3 {
    color: #085206;
    background-color: #E8FF00;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
img {
    font-size: 100px;
}
.imagen {
    width: 600px;
    height: 400px;
    text-align: left;
}
